<h1> Share this fortune! </h1>
<div>

    <button id ="copyto" onclick="copyToClipboard()">Copy to clipboard</button>
 
 <input id='sharable' type = "text" name="url" value= "http://localhost:8080/api/fortunes/<%=shareurl %>" </input>


 <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script src="/javascript/script.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</div>
